--index-url https://download.pytorch.org/whl/cu126
--extra-index-url https://pypi.org/simple
--find-links https://download.pytorch.org/whl/torch/
--find-links https://download.pytorch.org/whl/torchvision/
torch==2.6.0+cu126
torchvision==0.21.0
dominate
visdom>=0.1.8.8
wandb
pydicom
ipython
matplotlib
torchmetrics
markdown_pdf
itk
einops
tdqm